* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #FFFFFF;
    font-size: 62.5%;
    margin: 0;
}

body,html {
    margin:0;
    padding:0;
    height:100%;
}

img {
    border: 0 none;
}

#header_wrap {
    height: 46px;
    font: 10pt Arial;
    padding-top: 5px;
}
#header {
    height: 40px;
    margin: 0 auto 0 auto;
    padding-bottom: 5px;
    width: 1000px;
    border-bottom: 1px solid #cccccc;
}
#header a.logo {
    float:left;
}
#header a {
    color: black;
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
    color: #0000ff;
}

#newmenu {
    float: right;
    margin: 0;
    padding: 0;
    list-style:none;
}

#newmenu li {
    float: left;
    height: 32px;
    line-height: 32px;
    display: block;
    margin-left: 6px;
    position: relative;
}

#newmenu > li {
    font: 13pt ToonatorFont;
}

#header a {
    color: black;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
    color: #0000ff;
}

ul.topmenu {
    padding-top: 6px;
    padding-left: 130px;
}

ul.topmenu li {
    list-style: none;
    float:left;
    margin: 0 1px;
}

ul.topmenu li a {
    padding: 5px 0px;
    font-weight: bold;
    display: block;
}

#newmenu {
    float: right;
    margin: 0;
    padding: 0;
    list-style:none;
}
#newmenu li {
    float: left;
    height: 32px;
    line-height: 32px;
    display: block;
    margin-left: 6px;
    position: relative;
}

#newmenu > li > a {
    display: block;
    height: 32px;
    font: 13pt ToonatorFont;
    line-height: 32px;
    max-width: 150px;
    overflow: hidden;
}

#newmenu > li ul {
    position: absolute;
    top: 32px;
    right: 0;
    display: none;
    border: 1px solid #eeeeee;
    background: #ffffff;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

#newmenu a:hover {
    text-decoration: underline;
}

#content_wrap {
    margin-top: 5px;
    font: 10pt Arial;
}
#content {
    margin: 0 auto 0 auto;
    padding-bottom: 5px;
    width: 1000px;
    border-bottom: 1px solid #cccccc;
}
#footer {
    margin: 0 auto 0 auto;
    padding: 0 2px;
    width: 1000px;
    text-align:center;
    font-size:8pt;
    color:#888888;
}
#footer a {
    color:#888888;
    text-decoration:none;
}
#footer a:hover {
    color:black;
    text-decoration:underline;
}

/* User profile layout */
.content_left {
    width: 680px;
    float: left;
}
.content_right {
    width: 320px;
    float: left;
}

/* Typography */
h1 {
    display: block;
    font-size: 18px;
    font-family: ToonatorFont, Verdana;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 24px;
    font-family: ToonatorFont, Arial;
    font-weight: normal;
}

/* Username link colors */
a.username {
    color: #005500 !important;
    font-weight: bold;
    text-decoration: none;
}
a.username:hover {
    text-decoration: underline;
}
a.foreign {
    color: #3333cc !important;
}

/* Tab links */
a.nmenu {
    color: #0000ff;
    text-decoration: none;
}
a.nmenu:hover {
    color: #0000ff;
    text-decoration: underline;
}
a.nmenu.selected {
    color: #000000;
    font-weight: bold;
}

/* Toon cards */
.toons_container {
    display: block;
    text-align: center;
    padding: 10px 0;
}
.toons_list {
    margin: 0 auto;
    width: 660px;
    text-align: left;
}
.toon_preview {
    background-color: #eeeeee;
    display: inline-block;
    width: 210px;
    margin: 3px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: relative;
}
.toon_preview img,
.toon_preview canvas {
    margin-bottom: 5px;
    width: 200px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.toon_preview .toon_name a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
}
.toon_preview a.link {
    display: inline-block;
    overflow: hidden;
    height: 16px;
}
.toon_tagline {
    font-size: 8pt;
    height: 18px;
}
.grayb {
    color: #888888;
}

/* Paginator */
div.paginator {
    text-align: center;
}
div.paginator ul {
    padding: 0;
    margin: 0;
}
div.paginator ul li {
    list-style: none;
    margin: 1px 5px;
    font-family: ToonatorFont;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
div.paginator ul li a {
    text-decoration: none;
    color: #555555;
    width: 35px;
    padding: 5px 0 2px 0;
    display: inline-block;
}
div.paginator ul li a:hover,
div.paginator ul li.current a {
    border-radius: 5px;
    color: black;
    background: #eeeeee;
}
div.paginator ul li.current a {
    border: 1px solid #888888;
}
div.paginator ul li.dots {
    color: #888888;
}

img.p100 {
    width: 200px;
    height: 100px;
    border: 1px solid #cccccc;
}
.center {
    text-align: center;
}

/* ---- Toon Page ---- */
#toon_page h2 {
    font-family: ToonatorFont, "Comic Sans MS";
    clear: both;
}
#toon_page h2 a {
    color: #555555;
    text-decoration: none;
}
#toon_page h2 a:hover {
    color: #0000ff;
    text-decoration: underline;
}
#toon_page .left_panel {
    float: left;
    width: 610px;
}
.player {
    width: 610px;
    height: 350px;
    float: left;
}
#toon_page .info {
    margin-left: 20px;
    width: 350px;
    float: right;
}
#toon_page .info .author {
    height: 44px;
}
#toon_page .info .author .avatar {
    float: left;
    margin-right: 10px;
}
#toon_page .info .author .author_name {
    font-family: ToonatorFont, "Comic Sans MS";
    font-size: 18pt;
}
#toon_page .info .author .date {
    font-size: 8pt;
}
#toon_page .info .description {
    clear: both;
    margin: 5px 0;
    font-size: 11pt;
    word-wrap: break-word;
}
#toon_page .info .buttons {
    clear: both;
    margin-top: 10px;
    font-family: ToonatorFont, "Comic Sans MS";
    font-size: 12pt;
}
#toon_page .info .buttons .hover {
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
}
#toon_page .info .buttons a {
    text-decoration: none;
    color: #555555;
}
#toon_page .info .buttons img {
    vertical-align: middle;
}
#toon_page .info .buttons a:hover,
#toon_page .info .buttons a.active {
    color: black;
}
#toon_page .info .prizes {
    margin-top: 10px;
}
#toon_page .info .share {
    margin-top: 10px;
}
#toon_page .info .tcontinues {
    clear: both;
    margin-top: 10px;
}
.line_5 {
    margin: 10px 0;
}
.line_5 img {
    display: none;
}

/* Comments */
.toon_comments {
    display: block;
}
.toon_comments .header {
    border-bottom: 1px solid #cccccc;
    display: block;
    font-family: ToonatorFont, "Comic Sans MS";
    font-size: 12pt;
    padding: 3px 0;
}
.toon_comments a.new {
    float: right;
    text-decoration: none;
    color: blue;
}
.toon_comments a.new:hover {
    text-decoration: underline;
}
.comment {
    display: block;
    padding: 5px;
    min-height: 40px;
    border-bottom: 1px solid #eeeeee;
}
.comment .avatar {
    float: left;
    margin-right: 5px;
}
img.avatar {
    width: 80px;
    height: 40px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}
.comment .head {
    margin-bottom: 3px;
}
.comment .date {
    float: right;
    font-size: 8pt;
}
.comment .text {
    vertical-align: middle;
    text-align: justify;
    word-wrap: break-word;
    font-size: 10pt;
    padding-left: 85px;
}

/* Share icons */
ul.share {
    font-family: ToonatorFont;
    font-size: 14px;
    padding: 0;
    list-style: none;
}
ul.share li {
    float: left;
    margin: 0 1px;
    line-height: 20px;
}
.shr_tw, .shr_reddit, .shr_fb, .shr_gplus {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 3px;
}

/* Draft badge */
.draft {
    background: #333333;
    color: white;
}
.draft .toon_name a,
.draft .toon_tagline,
.draft .toon_tagline a {
    color: white;
}

/* Owned highlight */
.owned {
    background-image: url(/img/owned2.gif);
    background-repeat: repeat-x;
}

.black {
    color: black;
    font-weight: bold;
}
.red {
    color: red !important;
    font-weight: bold;
}
.clear {
    clear: both;
}

.gray {
    background: #eeeeee;
}

.last_comments {
    height: 40px;
    overflow: hidden;
}

.sn h1 {
    font: 32pt ToonatorFont;
    text-align: left;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn label, .sn .label {
    display: block;
    margin: 5px 0;
    font: 16pt ToonatorFont;
}

.sn label p {
    width: 250px;
    display: inline-block;
    color: #555555;
    text-align: left;
}

.sn input.input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 16pt ToonatorFont;
    padding: 10px;
    width: 400px;
    box-shadow: 0 0 2px #DDD inset;
}

.sn input:focus {
    outline: 0;
}

.sn button.complete {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 16pt ToonatorFont;
    padding: 10px 0;
    width: 420px;
    box-shadow: 0 0 2px #DDD inset;
    height: auto;
    background: #a4cda7;
    cursor: pointer;
    margin-top: 10px;
}

.sn button.complete:disabled {
    background: #eeeeee;
    cursor: default;
}

.sn label .error {
    font: 12pt ToonatorFont;
    color: red;
    padding-left: 10px;
}

.content-sn {
    padding: 10px 0;
}

.sn .login-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    width: 640px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
}

.sn .login-wrapper h2 {
    text-align: center;
    font: 24pt ToonatorFont;
    margin: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn .login-wrapper .close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    color: #cccccc;
    font: 18pt Arial;
}

.sn .login-wrapper .close:hover {
    color: black;
}

.sn .login-wrapper label.short {
    display: block;
    margin: 5px 0;
    font: 16pt ToonatorFont;
}

.sn .login-wrapper label.short p {
    width: 200px;
    display: inline-block;
    color: #555;
    vertical-align: middle;
}

.sn .login-wrapper label.short input {
    vertical-align: middle;
}

.sn .signin-old {
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .signin-old.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .info-block {
    border-radius: 8px;
    background: #eeeeee;
    padding: 20px;
    font: 12pt ToonatorFont;
    margin-bottom: 10px;
}