* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #FFFFFF;
    font-size: 62.5%;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    border: 0 none;
}

#header_wrap {
    height: 46px;
    font: 10pt Arial;
    padding-top: 5px;
}

#header {
    height: 40px;
    margin: 0 auto;
    padding-bottom: 5px;
    width: 1000px;
    border-bottom: 1px solid #cccccc;
}

#header a.logo {
    float: left;
}

#header a {
    color: black;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
    color: #0000ff;
}

#header a.username {
    color: #005500;
}

#newmenu {
    float: right;
    margin: 5px;
    padding: 0;
    list-style: none;
}

#newmenu li {
    float: left;
    height: 32px;
    line-height: 32px;
    display: block;
    margin-left: 6px;
    position: relative;
}

#newmenu #notify, #newmenu #spiders, #newmenu #mnumessages {
    width: 32px;
    text-align: center;
}

#newmenu #notify > a, #newmenu #spiders > a, #newmenu #mnumessages > a {
    position: relative;
    width: 32px;
    height: 32px;
    display: block;
}

#newmenu > li a .counter {
    position: absolute;
    font: 7pt Arial;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
}

#newmenu #notify > a {
    background: url(/img/new-assets.png) no-repeat 0 -32px;
    color: #000;
}

#newmenu #notify > a:hover {
    background: url(/img/new-assets.png) no-repeat -32px -32px;
}

#newmenu #notify > a.active {
    background: url(/img/new-assets.png) no-repeat -64px -32px;
    color: #ff0000;
}

#newmenu #spiders > a {
    background: url(/img/new-assets.png) no-repeat 0 0;
    color: #000;
}

#newmenu #spiders > a:hover {
    background: url(/img/new-assets.png) no-repeat -32px 0;
}

#newmenu #mnumessages > a {
    background: url(/img/new-assets.png) no-repeat 0 -64px;
    color: #000;
}

#newmenu #mnumessages > a:hover {
    background: url(/img/new-assets.png) no-repeat -32px -64px;
}

#newmenu #mnumessages > a.active {
    background: url(/img/new-assets.png) no-repeat -64px -64px;
    color: #ff0000;
}

#newmenu > li > a {
    display: block;
    height: 32px;
    font: 13pt ToonatorFont;
    line-height: 32px;
    max-width: 150px;
    overflow: hidden;
}

#newmenu > li ul {
    position: absolute;
    top: 32px;
    right: 0;
    display: none;
    border: 1px solid #eeeeee;
    background: #ffffff;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

#newmenu #account {
    margin-left: 18px;
    max-width: 200px;
}

#newmenu li ul li {
    float: none;
    font: 12pt ToonatorFont;
    height: 24px;
    padding: 0;
    margin: 0;
}

#newmenu li ul li a {
    display: block;
    padding: 0 8px;
    margin: 0;
    height: 24px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    width: 150px;
}

#newmenu li ul li a:hover {
    background: #eeeeee;
}

ul.topmenu {
    padding-top: 6px;
    padding-left: 130px;
}

ul.topmenu li {
    list-style: none;
    float: left;
    margin: 0 1px;
}

ul.topmenu li a {
    padding: 5px 0;
    font-weight: bold;
    display: block;
}

#content_wrap {
    margin-top: 5px;
    font: 10pt Arial;
}

#content {
    margin: 0 auto;
    padding-bottom: 5px;
    width: 1000px;
    border-bottom: 1px solid #cccccc;
}

#footer {
    margin: 0 auto;
    padding: 0 2px;
    width: 1000px;
    text-align: center;
    font-size: 8pt;
    color: #888888;
}

#footer a {
    color: #888888;
    text-decoration: none;
}

#footer a:hover {
    color: black;
    text-decoration: underline;
}

.imglink {
    display: block;
    width: 130px;
    height: 22px;
}

.content_left {
    width: 680px;
    float: left;
}

.content_right {
    width: 320px;
    float: left;
}

.clear {
    clear: both;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1 {
    display: block;
    font-size: 18px;
    font-family: ToonatorFont, Verdana;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-family: ToonatorFont, Arial;
    font-weight: normal;
}

a.username {
    color: #005500 !important;
    font-weight: bold;
    text-decoration: none;
}

a.username:hover {
    text-decoration: underline;
}

a.anonymous {
    color: #555555 !important;
}

a.anonymous:hover {
    text-decoration: none;
}

a.foreign {
    color: #3333cc !important;
}

a.moderator {
    color: #007f7f !important;
    background: url(/img/favicon.ico) no-repeat;
    padding-left: 18px;
}

a.toonator {
    color: #007f7f !important;
    background: url(/img/favicon-eyes.png) no-repeat;
    padding-left: 18px;
}

a.gray {
    color: #888888 !important;
    background: none;
    text-decoration: none;
}

a.gray:hover {
    text-decoration: underline;
}

a.cite {
    color: #cccccc;
    text-decoration: none;
}

a.cite:hover {
    color: #555555;
}

a.nmenu {
    color: #0000ff;
    text-decoration: none;
}

a.nmenu:hover {
    color: #0000ff;
    text-decoration: underline;
}

a.nmenu.selected {
    color: #000000;
    font-weight: bold;
}

a.btn {
    display: inline-block;
    text-align: center;
    background: #dddddd;
    text-decoration: none;
    color: #888888;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    padding: 3px 10px;
}

a.btn:hover {
    color: black;
    background: #cccccc;
}

.black {
    color: black;
    font-weight: bold;
}

.red, a.red {
    color: red !important;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.grayb {
    color: #888888;
}

.center {
    text-align: center;
}

.gray {
    background: #eeeeee;
}

.small {
    font-size: 10px;
    font-weight: normal;
}

/* Toons list */

.toons_container {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.toons_list {
    margin: 0 auto;
    width: 880px;
    text-align: left;
}

.toons_list.large {
    margin: 0 auto;
    width: 970px;
    text-align: left;
}

.content_left .toons_list {
    width: 660px;
}

.content_profile .toons_list {
    width: 660px;
}

.owned {
    background-image: url(/img/owned2.gif);
    background-repeat: repeat-x;
}

.toon_preview {
    background-color: #eeeeee;
    display: inline-block;
    zoom: 1;
    width: 210px;
    margin: 3px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: relative;
}

.large {
    width: 320px;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.large.owned {
    background-image: url(/img/owned4.gif);
    background-repeat: repeat-x;
}

.toonmedal {
    position: absolute;
    left: 5px;
    top: 7px;
    width: 24px !important;
    height: 24px !important;
}

.toonmedal2 {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 24px !important;
    height: 24px !important;
}

.toon_preview img {
    margin-bottom: 5px;
    width: 200px;
    height: 100px;
}

.large img {
    width: 300px;
    height: 150px;
    margin: 10px 10px 5px 10px;
}

.toon_preview .toon_name a,
.toon_preview .toon_name_top a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
}

.toon_preview .toon_name_top a {
    font-size: 14px;
    margin-top: 10px;
}

.toon_preview .toon_tagline a {
    color: #000000;
}

.toon_preview .toon_tagline a.noh {
    text-decoration: none;
}

.toon_preview a.link {
    display: inline-block;
    overflow: hidden;
    height: 16px;
}

.toon_tagline {
    font-size: 8pt;
    height: 18px;
}

.toon_feature {
    color: #333388;
    font-size: 10pt;
}

.toon_feature a {
    color: #333388;
    text-decoration: none;
}

.toon_feature a:hover {
    color: black;
}

.last_comments {
    height: 40px;
    overflow: hidden;
}

.draft {
    background: #333333;
    color: white;
}

.draft .toon_name a,
.draft .toon_tagline,
.draft .toon_tagline a {
    color: white;
}

/* Toon page */

#toon_page h2 {
    font-family: ToonatorFont, "Comic Sans MS";
    clear: both;
}

#toon_page h2 a {
    color: #555555;
    text-decoration: none;
}

#toon_page h2 a:hover {
    color: #0000ff;
    text-decoration: underline;
}

#toon_page .left_panel {
    float: left;
    width: 610px;
}

.player {
    width: 610px;
    height: 350px;
    float: left;
}

.player_expanded {
    width: 1000px;
    height: 575px;
}

#toon_page .info {
    margin-left: 20px;
    width: 350px;
    float: right;
}

#toon_page .info .author {
    height: 44px;
}

#toon_page .info .author .avatar {
    float: left;
    margin-right: 10px;
}

#toon_page .info .author .author_name {
    font-family: ToonatorFont, "Comic Sans MS";
    font-size: 18pt;
}

#toon_page .info .author .date {
    font-size: 8pt;
}

#toon_page .info .description {
    clear: both;
    margin: 5px 0;
    font-family: Arial;
    font-size: 10pt;
}

#toon_page .info .tags {
    clear: both;
    font-family: Arial;
    font-size: 10pt;
}

#toon_page .info .tags a {
    color: #888888;
    text-decoration: none;
}

#toon_page .info .tags a:hover {
    color: black;
    text-decoration: underline;
}

#toon_page .info .buttons {
    clear: both;
    margin-top: 10px;
    font-family: ToonatorFont, "Comic Sans MS";
    font-size: 12pt;
}

#toon_page .info .buttons .hover {
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
}

#toon_page .info .buttons a {
    text-decoration: none;
    color: #555555;
}

#toon_page .info .buttons img {
    vertical-align: middle;
}

#toon_page .info .buttons a:hover,
#toon_page .info .buttons a.active {
    color: black;
}

#toon_page .info .prizes {
    margin-top: 10px;
}

#toon_page .info .prize,
.rightpanel .prize {
    border-radius: 6px;
    text-align: center;
    padding: 10px 0;
    margin: 2px 0;
}

#toon_page .info .prize a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

#toon_page .info .prize a:hover {
    text-decoration: underline;
    color: black;
}

#toon_page .info .more-options {
    margin-left: 50px;
    max-height: 200px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.5s, opacity 0.5s;
}

#toon_page .info .more-options div {
    margin: 5px 0;
}

#toon_page .info .more-options.hidden {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s, opacity 0.5s;
}

#toon_page .toon_admin {
    clear: both;
}

#toon_page .tcontinues {
    clear: both;
    margin-top: 10px;
}

#toon_page ul.continues_list {
    font-family: Arial;
}

#toon_page ul.continues_list li {
    clear: both;
    list-style: none;
    margin: 3px 0;
    height: 70px;
}

#toon_page ul.continues_list li.hidden {
    display: none;
}

#toon_page ul.continues_list li.showmore {
    height: auto;
    text-align: center;
}

#toon_page ul.continues_list li a {
    text-decoration: none;
    color: black;
}

#toon_page ul.continues_list li a:hover {
    text-decoration: underline;
}

#toon_page ul.continues_list li.showmore a {
    font-weight: bold;
    font-family: ToonatorFont, "Comic Sans MS";
}

#toon_page ul.continues_list li img {
    float: left;
    margin-right: 5px;
}

#toon_page ul.continues_list li .name {
    font-weight: bold;
    overflow: hidden;
    height: 18px;
}

#toon_page ul.continues_list li .cinfo {
    font-size: 8pt;
}

/* Comments */

.toon_comments {
    display: block;
}

.toon_comments .header,
.toon_comments .form {
    border-bottom: 1px solid #cccccc;
    display: block;
    font-family: ToonatorFont, "Comic Sans MS";
    font-size: 12pt;
}

.toon_comments a.new {
    float: right;
    text-decoration: none;
    color: blue;
}

.toon_comments a.new:hover {
    text-decoration: underline;
}

.toon_comments textarea {
    border: 1px solid #cccccc;
    margin: 10px;
    width: 580px;
    font-family: Arial;
    font-size: 10pt;
}

.toon_comments button {
    margin: 0 10px 10px 0;
}

.comment {
    display: block;
    padding: 5px;
    min-height: 40px;
}

.comment .avatar {
    float: left;
    margin-right: 5px;
}

.comment .date {
    float: right;
    font-size: 8pt;
}

.comment .text {
    vertical-align: middle;
    text-align: justify;
    word-wrap: break-word;
}

img.avatar {
    width: 80px;
    height: 40px;
    border: 1px solid #cccccc;
}

img.avatar80 {
    width: 80px;
    height: 40px;
}

img.p100 {
    width: 200px;
    height: 100px;
    border: 1px solid #cccccc;
}

/* Paginator */

div.paginator {
    text-align: center;
}

div.paginator ul li {
    list-style: none;
    margin: 1px 5px;
    font-family: ToonatorFont;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

div.paginator ul li a {
    text-decoration: none;
    color: #555555;
    width: 35px;
    padding: 5px 0 2px 0;
    display: inline-block;
}

div.paginator ul li a:hover,
div.paginator ul li.current a {
    border-radius: 5px;
    color: black;
    background: #eeeeee;
}

div.paginator ul li.current a {
    border: 1px solid #888888;
}

/* Share */

ul.share {
    font-family: ToonatorFont;
    font-size: 14px;
    padding: 0;
    list-style: none;
}

ul.share li {
    list-style: none;
    float: left;
    margin: 0 1px;
    line-height: 20px;
}

/* Buttons */

button {
    border-radius: 3px;
    background: linear-gradient(to bottom, #FFFFFF, #EFEFEF) #F6F6F6;
    border: 1px solid #cccccc;
    cursor: pointer;
    height: 28px;
    overflow: visible;
    padding: 0 5px;
    vertical-align: middle;
    white-space: nowrap;
}

button:hover,
button:focus {
    box-shadow: 0 0 3px #999999;
    background: linear-gradient(to bottom, #FFFFFF, #EBEBEB) #F3F3F3;
    border-color: #999999;
    outline: 0 none;
}

button * {
    vertical-align: middle;
    display: inline-block;
}

/* Prize colors */

.prize_1 { background-color: #cce0e0; }
.prize_1 .toon_name a { color: black; }
.prize_1 .grayb { color: black; }
.prize_2 { background-color: #ccffcc; }
.prize_2 .toon_name a { color: black; }
.prize_2 .grayb { color: black; }
.prize_3 { background-color: #ffcc00; }
.prize_3 .toon_name a { color: black; }
.prize_3 .grayb { color: black; }
.prize_4 { background-color: #ffcccc; }
.prize_5 { background-color: #E3E7B8; }
.prize_6 { background-color: #FFEAA7; }

.toon_prize_1 { background-color: #cce0e0; padding: 5px; }
.toon_prize_2 { background-color: #ccffcc; padding: 5px; }
.toon_prize_3 { background-color: #ffcc00; padding: 5px; }
.toon_prize_4 { background-color: #ffcccc; padding: 5px; }
.toon_prize_5 { background-color: #E3E7B8; padding: 5px; }
.toon_prize_6 { background-color: #FFEAA7; padding: 5px; }

/* Profile */

.profile, .profileinfo, .profiletoons {
    display: inline-block;
    vertical-align: top;
}

.profileinfo {
    width: 330px;
}

.likes_count, .views_count {
    font-family: ToonatorFont;
    font-size: 11pt;
    padding: 0 6px;
}

ul.friends li {
    list-style: none;
    float: left;
    padding: 0 2px;
    margin: 10px 0;
    display: block;
    width: 100px;
    height: 60px;
    text-align: center;
    overflow: hidden;
}

ul.friends li a {
    text-align: center;
}

/* Pages */

.pages {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.pages a, .pages span {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: ToonatorFont;
    padding: 3px;
    margin: 0 3px;
}

.pages a {
    color: #888888;
    background: #eeeeee;
    text-decoration: none;
}

.pages a:hover {
    color: #000000;
    background: #cccccc;
}

.pages span.current {
    background: #ddffdd;
}

.pages span.bg {
    color: #888888;
}

/* Left menu */

ul.leftmenu {
    margin: 0 0 0 30px;
    padding: 0;
}

ul.leftmenu li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14pt;
    font-family: ToonatorFont, "Comic Sans MS";
}

ul.leftmenu li a {
    color: #0000ff;
    text-decoration: none;
}

ul.leftmenu li a:hover {
    color: #0000ff;
    text-decoration: underline;
}

ul.leftmenu li a.selected {
    color: #000000;
    font-weight: bold;
}

/* Notify bar */

#notify_wrap {
    width: 1000px;
    margin: 0 auto;
    background: #FFFFED;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

#notify_inner {
    padding: 4px;
    font-size: 12px;
    text-align: center;
}

#notify_close {
    float: right;
    color: #000;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 4px;
}

#notify_close:hover {
    color: #ff0000;
}

/* Icons */

.crown { background: url(/img/icons/crown.gif) no-repeat; padding-left: 18px; min-height: 16px; }
.crownp { background: url(/img/icons/crownp.png) no-repeat; padding-left: 18px; min-height: 16px; }
.crownw { background: url(/img/icons/crownw.png) no-repeat; padding-left: 18px; min-height: 16px; }
.slowpoke { background: url(/img/icons/slowpoke.png) no-repeat; padding-left: 22px; min-height: 17px; }
.brain { background: url(/img/icons/brain.png) no-repeat; padding-left: 18px; min-height: 16px; }
.gasmask { background: url(/img/icons/gasmask.png) no-repeat; padding-left: 18px; min-height: 16px; }
.guitar { background: url(/img/icons/guitar.png) no-repeat; padding-left: 18px; min-height: 16px; }
.fan { background: url(/img/icons/fan.png) no-repeat; padding-left: 18px; min-height: 16px; }
.pot { background: url(/img/icons/pot.png) no-repeat; padding-left: 18px; min-height: 16px; }
.tophat { background: url(/img/icons/tophat.png) no-repeat; padding-left: 18px; min-height: 16px; }

.prime {
    background: url(/img/user/prime16.gif);
    height: 16px;
    width: 53px;
    display: inline-block;
}

.prime span {
    display: none;
}

.author_name .prime, h3 .prime {
    background: url(/img/user/prime24.gif);
    height: 24px;
    width: 80px;
}

/* Registration / Auth */

.reg_variant {
    list-style: none;
}

.reg_variant li {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.reg_variant li:hover {
    border: 1px solid #ffffff;
    background: #ffffff;
}

.reg_variant li.active {
    border: 1px solid #cccccc;
    background: #ffffff;
}

.reg_variant li img {
    margin: 4px;
    cursor: pointer;
}

.levelup_comment {
    border-radius: 6px;
    border: 1px dashed black;
    padding: 5px;
    background-color: #ffcccc;
}

/* .sn styles */

.sn h1 {
    font: 32pt ToonatorFont;
    text-align: left;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn h2 {
    font: 24pt ToonatorFont;
    text-align: center;
    margin: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn .registration .reg-variants {
    margin: 10px 0 10px 240px;
}

.sn .login-popup .reg-variants {
    text-align: center;
}

.sn .reg-form {
    display: none;
}

.sn label, .sn .label {
    display: block;
    margin: 5px 0;
    font: 16pt ToonatorFont;
}

.sn label .error {
    font: 12pt ToonatorFont;
}

.sn label p, .sn .label p {
    width: 250px;
    display: inline-block;
    color: #555555;
    text-align: left;
}

.sn label.short p, .sn .label.short p {
    width: 200px;
}

.sn input.input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 16pt ToonatorFont;
    padding: 10px;
    width: 400px;
    box-shadow: 0 0 2px #DDD inset;
}

.sn input:focus {
    outline: 0;
}

.sn .captcha_show {
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 420px;
    box-shadow: 0 0 2px #DDD inset;
    padding: 5px 0 10px 0;
    display: inline-block;
    text-align: center;
}

.sn .captcha_show input {
    font: 24pt ToonatorFont;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #cccccc;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.sn .btn {
    border-radius: 5px;
    font: bold 10pt ToonatorFont;
    padding: 10px;
    box-shadow: 0 0 2px #DDD;
    height: auto;
}

.sn .btn.cancel { background: #ae6266; }
.sn .btn.confirm { background: #a4cda7; }
.sn .btn.info { background: #546eae; }

.sn .info-block {
    border-radius: 8px;
    background: #eeeeee;
    padding: 20px;
    font: 12pt ToonatorFont;
}

.sn button.complete {
    border: 1px solid #cccccc;
    border-radius: 5px;
    font: 16pt ToonatorFont;
    padding: 10px 0;
    width: 420px;
    box-shadow: 0 0 2px #DDD inset;
    height: auto;
    background: #a4cda7;
    cursor: pointer;
    margin-top: 10px;
}

.sn button.complete[disabled] {
    background: #eeeeee;
    cursor: default;
}

.sn .login-popup {
    display: none;
}

.sn .login-popup .overlay,
.sn .popup .overlay {
    overflow: auto;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(127,127,127,0.5);
}

.sn .login-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccccc;
    width: 640px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
}

.sn .login-wrapper h2 {
    text-align: center;
    font: 24pt ToonatorFont;
    margin: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

.sn .login-wrapper .close,
.sn .popup .close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    text-decoration: none;
    color: #cccccc;
    font: 18pt Arial;
}

.sn .login-wrapper .close:hover {
    color: black;
}

.sn .signin-old-head,
.sn .signin-using,
.sn .signin-old-recover {
    text-align: center;
}

.sn .signin-using {
    font: 14pt ToonatorFont;
}

.sn .signin-old-head a,
.sn .signin-old-recover a {
    font: 12pt ToonatorFont;
}

.sn .signin-old {
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .signin-old.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .signin-old .captcha {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .signin-old .captcha.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

.sn .popup {
    display: none;
}

.sn .popup .overlay {
    overflow: auto;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(127,127,127,0.5);
}

.sn .popup .wrapper {
    position: relative;
    left: 50%;
    top: 50%;
    border: 1px solid #cccccc;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    width: 660px;
    max-width: 80%;
    height: 800px;
    max-height: 70%;
}

.sn .popup .content {
    position: absolute;
    overflow: auto;
    top: 50px;
    left: 0;
    right: 0;
    padding: 10px;
    bottom: 10px;
}

.sn .popup .header {
    position: absolute;
    left: 10px;
    right: 10px;
    line-height: 50px;
    height: 60px;
    top: 10px;
}

.sn .popup .header h2 {
    margin: 10px;
    border-bottom: none;
}

.sn .popup .header .close {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    vertical-align: middle;
    display: block;
    text-decoration: none;
    color: #cccccc;
    font: 18pt Arial;
}

.sn .toon-chooser-popup .wrapper {
    width: 700px;
}

.sn .toon-chooser-popup .toons-container {
    text-align: center;
}

.sn .toon-chooser-popup .toons-list {
    width: 655px;
    text-align: left;
    margin: auto;
}

.sn .toon-chooser-popup .loading {
    display: none;
    margin: 10px 0;
    text-align: center;
    color: #888888;
    font: 14pt ToonatorFont;
}

.sn .toon-chooser-popup.loading .loading {
    display: block;
}

.sn .toon-chooser-popup .load-more {
    text-align: center;
}

.sn .toon-chooser-popup .load-more button {
    margin: 10px 0;
    text-align: center;
    border: none;
    color: #555555;
    background: inherit;
    font: 14pt ToonatorFont;
}

.sn .hints {
    position: fixed;
    right: 20px;
    top: 20px;
}

.sn .hint {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 200, 200, 0.8);
    min-width: 300px;
    font: 12pt Tahoma;
    margin: 5px 0;
    position: relative;
}

.sn .hint .header {
    font: bold 12pt Tahoma;
    margin: 5px 0;
}

.sn .hint .header .close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    text-decoration: none;
    color: #cc8888;
    font: 12pt Arial;
}

.sn .hint .body {
    width: 400px;
    background: none;
    margin: 10px 0;
}

.sn .hint .actions {
    text-align: center;
}

.sn .hint .actions button {
    border-radius: 10px;
    padding: 10px;
    height: auto;
}